<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <header>
        <div class="container">
        <div id ="brandname">
            <h1>Machine Learing App with Flask</h1>
        </div>
            <h2>Spam Detector for Email Message</h2>
    </header>
    
    <div class="ml-container">
        <form action = "{{ url_for('predict')}}" , method="POST">
            <p> Enter your Message Here :</p>
            <textarea name="message" rows="6" cols="50"></textarea>
            <br/>
        
            <input type="submit" class="btn-info" style="height:50px; width:200px" value="Check Spam or Ham">
        </form>
    </div>
    <div>
        <p> <u>Example of SPAM and HAM for starters: </u><br>
        HAM input:<br> We have a free shopping offer.  <br>
        SPAM input:<br> free shopping offer. <br>
        </p> 
    </div>
</body>
</html>
